* {
  box-sizing: border-box;
  font-family: Lato, sans-serif, "Helvetica Neue", Arial, Helvetica;
}

body {
  background-color: rgb(236, 233, 233);
}

.main {
  width: 65%;
  margin: 10% auto;
  background-color: white;
  border: 1px solid white;
  box-shadow: 5px 5px 5px grey;
}

.container {
  padding-left: 2%;
}

.container h2 {
  padding: 2% 0%;
  margin: 0;
  font-size: 1.3rem;
}

.container input {
  border: none;
  padding: 2% 1%;
}

input:focus {
  outline: none;
}

.checkbox {
  width: 5%;
  transform: scale(1.5);
  border-radius: 0;
  padding: 2% 1%;
}

.task-list {
  display: flex;
  gap: 2%;
  text-align: center;
  align-items: center;
}

.task {
  width: 75%;
}

.footer input {
  width: 100%;
  color: grey;
  border: none;
  padding: 3% 1%;
  font-size: 1rem;
}

.strike {
  text-decoration: line-through;
}

.heading {
  display: grid;
  grid-template-columns: 60% 40%;
  text-align: left;
  align-items: center;
}

.fa {
  width: 16%;
  text-align: right;
  padding-right: 2%;
  color: grey;
}

.heading .fa {
  width: 100%;
  padding-right: 3%;
}
